.Chart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  border-radius: 100px;
  box-shadow: 9px 10px 0px var(--gl-purple);
  border: 3px solid var(--gl-purple);
}